<div class="card">

  <div class="card-header">
    <% if current_user && current_user.id == @board.user_id %>
      <%=link_to "削除", board_path, class: "btn btn-outline-danger", method: :delete, data: {confirm: "本当に掲示板を削除しますか？"} %>
      <%=link_to "編集", edit_board_path, class: "btn btn-outline-success" %>
    <% end %>

    <h3><%= @board.title %></h3>
    <h6 class="text-muted">作成日時：<%=@board.created_at.to_s(:datetime_jp)%></h6>
    <span class="badge badge-primary"><%= @board.category.name %></span>

  </div>

  <div class="card-body">
    <p><%= @board.body %></p>
  </div>

  <div class="card-footer text-muted">
    <p>作成者：<%= @board.name %></p>
    <div class="user-image-show">
      <%= link_to image_tag("#{User.find(@board.user_id).image}"), "/users/profile/#{@board.user_id}"%>
    </div>
  </div>

</div>
